@*@model IEnumerable<Product>*@
@model ProductListViewModel

@{
    ViewData["Title"] = "List";
}

@*@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}*@
@foreach (var p in Model.Products)
{
     <partial name="ProductSummary" model="p" />   


}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-secondary"
 page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"  class="btn-group  m-1"></div>